@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

swish to: 0704700455

<address>

    <strong>Support:</strong>   <a href="mailto:emelie_loheden@hotmail.com">emelie_loheden@hotmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="">Marketing@example.com</a>*@
</address>