@model List<BoxShop.Models.Product>
@{
    ViewBag.Title = "ProductByCategory";
}

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Name

            <button type="button" id="@item.Id" class="btn btn-default addToCart">Add to cart</button>
        </li>
    }

</ul>

<form method="post" action="/Home/Cart">

    <input type="hidden" name="cart" id="hiddenCart" />

    <button type="submit" class="btn btn-default">To cart</button>
</form>