



    @{ ViewBag.Title = "Thankyou";  }

    <h2>
        Thank you!
    </h2>
<nav>
    <img href="https://zionsmercantile.files.wordpress.com/2011/12/gold_box_lg_yellow.jpg"/>

</nav>
   
<div class="clearfix"></div>






